body
{
    margin: 1.5px 15px;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background: url("AllPagesBckgrd.png") no-repeat;
}


/*************************************************************************************************************/
/*******************************************NAVBAR BAR********************************************************/
/*************************************************************************************************************/

/*The position of the links on the navbar*/
a
{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 15px;
}


/*When the mouse hover the links*/
a:hover
{
    color: white;
    font-style: italic;
}


/*the position of the hamburger*/
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

/*we put the hamburger above the checkbox by z-index and hides the checkbox by opacity*/
#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* The checkbox is hidden */
    z-index: 2; /* and the hamburger is placed over the checkbox */
    -webkit-touch-callout: none;
}


/* The hamburger in his initial statement*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

/*the position of the first bar of the crossmark*/
#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

/*the position of the second bar of the crossmark*/
#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}


/* The second bar of the hamburger is hidden.*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/* The third bar of the hamburger changes direction*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen*/
#menu
{
    position: absolute;
    border-radius: 0 60px 60px 0;
    width: 194px;
    margin: -100px 0 0 -50px;
    padding: 35px;
    padding-top: 125px;
    background: rgba(0, 0, 72, 0.96);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    letter-spacing: 2.5px;
}

/*Vertical space pace between the links*/
#menu li
{
    padding: 22px 0;
    font-size: 22px;
}

/* And let's slide it in from the left*/
#menuToggle input:checked ~ ul
{
    transform: none;
}


/*When we click on the navbar link, the size of the link changes*/
.onPage{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/*When we scroll on the pages, the navbar is fixed*/
nav{
    grid-column: 1;
    grid-row: 1/12;
    position: fixed;
}

/*****************************************************************************************************/
/**********************LAYOUT OF THE ELEMENTS OF THE PAGE*********************************************/
/*****************************************************************************************************/

/*Layout of the page*/
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    position: relative;
}

/*The section with the title and the social media icons*/
header{
    grid-column: 2;
    grid-row: 1/2;
}

/*The section with the form*/
section{
    grid-column: 3/5;
    grid-row: 1/4;
}

/*FOOTER position*/
footer{
    grid-column: 1/5;
    grid-row: 12;
    text-align: center;
    border-top: 1px solid black;
}

/*Position between the sections and the navbar*/
header, section{
    padding-top: 5px;
    padding-bottom: 180px;
    padding-left: 31px;
}

/*When the mouse hover the email, the color black because the <a> tag*/
/*of the navbar changes his color to white when the mouse hover.*/
.mailClick:hover{
    font-weight: bold;
    color: black;
}

/***********************************************NOT USABLE********************************************************/
/*!*style for every input*!*/
/*input[type=text],input[type=email], textarea {*/
    /*width: 100%;*/
    /*padding: 10px;*/
    /*border: 1px solid black;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
    /*margin-top: 6px;*/
    /*margin-bottom: 16px;*/
    /*resize: vertical;*/
/*}*/

/*input[type=submit]{*/
    /*border-radius: 10px;*/
    /*width: 110px;*/
    /*height: 30px;*/
    /*cursor: pointer;*/
/*}*/
/****************************************************************************************************************/


/*Size of the form */
iframe{
    height: 430px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 0;
}

/*************************Style for the social media icons********************/

ol li{
    line-height: 90px;
    list-style-type: none;
    position: relative;
    right: 15%;
}

ol li a{
    font-size: 40px;
    padding: 5%;
    color: #474747;
}

ol li a:hover{
    font-style: normal;
    color: black;
}
