body
{
    margin: 1.5px 15px;
    padding: 0;
    background: url("AllPagesBckgrd.png") no-repeat;
}


/*************************************************************************************************************/
/*******************************************NAVBAR BAR********************************************************/
/*************************************************************************************************************/

/*The position of the links on the navbar*/
a
{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 15px;
}


/*When the mouse hover the links*/
a:hover
{
    color: white;
    font-style: italic;
}


/*the position of the hamburger*/
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

/*we put the hamburger above the checkbox by z-index and hides the checkbox by opacity*/
#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* The checkbox is hidden */
    z-index: 2; /* and the hamburger is placed over the checkbox */
    -webkit-touch-callout: none;
}


/* The hamburger in his initial statement*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

/*the position of the first bar of the crossmark*/
#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

/*the position of the second bar of the crossmark*/
#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}


/* The second bar of the hamburger is hidden.*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/* The third bar of the hamburger changes direction*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen*/
#menu
{
    position: absolute;
    border-radius: 0 60px 60px 0;
    width: 194px;
    margin: -100px 0 0 -50px;
    padding: 35px;
    padding-top: 125px;
    background: rgba(0, 0, 72, 0.96);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    letter-spacing: 2.5px;
}

/*Vertical space pace between the links*/
#menu li
{
    padding: 22px 0;
    font-size: 22px;
}

/* And let's slide it in from the left*/
#menuToggle input:checked ~ ul
{
    transform: none;
}


/*When we click on the navbar link, the size of the link changes*/
.onPage{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/*When we scroll on the pages, the navbar is fixed*/
nav{
    grid-column: 1;
    grid-row: 1/12;
    position: fixed;
}


/*****************************************************************************************************/
/**********************LAYOUT OF THE ELEMENTS OF THE PAGE*********************************************/
/*****************************************************************************************************/

/*Layout of the page*/
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}

/*The section with the title and the text*/
header{
    grid-column: 2/4;
    grid-row: 1/2;
}

/*The section with the clickable logo of the "LOADING DESIGN" project and his github link*/
section{
    grid-column: 2/3;
    grid-row: 2/10;
    padding-top: 10px;
    padding-bottom: 200px;
}

/*The section with the clickable logo of the "INTERACTIVE MAP" project and his github link*/
aside{
    grid-column: 3/4;
    grid-row: 2/10;
    padding-top: 10px;
    padding-bottom: 250px;
    padding-left: 20%;
}

/*FOOTER position*/
footer{
    grid-column: 1/6;
    grid-row: 12;
    text-align: center;
    border-top: 1px solid black;
}

/*Position between each area and the navbar*/
header,section,aside{
    position: relative;
    right: 14.5%;
}

/*Style when we hover the github link*/
.linkHover:hover{
    color: navy;
    font-weight: bold;
}

/*We remove the list item marker from the project logo*/
section ul li:nth-child(1), section ul li:nth-child(2), aside ul li:nth-child(1), aside ul li:nth-child(2){
    list-style-type: none;
    position: relative;
    right: 4%;
}

/*Style for the arrows*/
span {
    content: "\21B4";
    position: relative;
    left: 40%;
    font-size: 50px;
}

/*Position of the LOADING project text "Why this project" */
.textLoading{
    position: relative;
    top: 1%;
}


/*******Style for the marker of the github links******/
/*Project1*/
.styleMarker1{
    position: relative;
    top: 25%;
    list-style-type: square;
    right: 5%;
}

/*Project2*/
.styleMarker2{
    position: relative;
    top: 22.5%;
    right: 5%;
    list-style-type: square;
}